.parentdiv {
  border-radius: 12px;
  background-color: #f8f9fa;
  width: 80.4%;
  position: absolute;
  right: 0px;
  top: 12px;
}

.managemember {
  background-color: whitesmoke;
}

.table th, .table td {
  vertical-align: middle;
}

.btn {
  border-radius: 8px;
}

h2 {
  font-weight: 600;
}